[Unit]
Description=Create Family Portal backup archive
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/family-portal/scripts/backup.sh
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
